:root {
  --primary-color: linear-gradient(
    to right top,
    #433878,
    #375090,
    #2567a4,
    #097eb4,
    #0095c0
  );
  --secondary-color: #06293d;
  --light-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "system-ui", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-image: var(--primary-color);
  color: var(--secondary-color);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
