:root {
  --primary-color: linear-gradient(
    to right top,
    #433878,
    #375090,
    #2567a4,
    #097eb4,
    #0095c0
  );
  --grid-color: #222931;
  --light-color: #f5f5f5;
  --secondary-color: #62778e;
  --font: "system-ui", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1.5;
  background-image: var(--primary-color);
  color: var(--light-color);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "aside section1 section1"
    "aside2 section2 section2"
    "aside2 footer footer";
  gap: 0.5rem;
  width: 40rem;
  height: 25rem;
  background-color: var(--grid-color);
  padding: 0.5rem;
  border-radius: 20px;
}

.primary-aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.secondary-aside {
  grid-area: aside2;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.primary-section {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.secondary-section {
  grid-area: section2;
}

.footer {
  grid-area: footer;
}

.icon {
  width: 4.5rem;
  height: 4.5rem;
}

.temp {
  font-size: 3.5rem;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
  font-weight: bold;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.city {
  text-transform: capitalize;
}

.temperature {
  position: relative;
}

.unit {
  position: absolute;
  top: 5.7rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.temp-summary {
  width: 18rem;
  /* outline: 2px solid var(--light-color); */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pressure,
.humidity,
.wind {
  display: flex;
  justify-content: space-between;
}

.pressure,
.humidity,
.wind > p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.pressure > span,
.humidity > span,
.wind > span {
  font-weight: normal;
}
